<h1>Random Results</h1>
<p>Minimum</p>
<p><%= params[:min] %></p>
<p>Maximum</p>
<p><%= params[:max] %></p>
<p>Random Number</p>
<p><%= @output %></p>
<%= link_to "Pick another random number", "/random/new" %>
