<div>
  <label for="user_number">Enter a number</label>
</div>
<%= form_with url: "/square/results?number=:number", method: :get, local: true do |form| %>
  <%= text_field_tag :number, nil, placeholder: "What number do you want to square?", id: "user_number" %>
  <div>
    <button type="submit">Calculate square</button>
  </div>
<% end %>
